<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{player.name}}">
  <ion-content class="padding item-avatar" style="text-align: center;">
      
    <img class="media-object material_media_object" ng-src="img/jogadores/{{player.foto}}.jpg" 
      style="display: block; margin-left: auto; margin-right: auto;">

          <div class="card">
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-radar" data="player.data"
            labels="labels" legend="false" options="{showTooltips: false}"></canvas>
        </div>
    </div>
     
    <!-- <img class="media-object material_media_object" ng-src="img/grafico.png" 
      style="display: block; margin-left: auto; margin-right: auto; width:90%; height:90%; max-width:400px;">-->
    
        <!--device information section-->
        <!--lise section-->
        <md-list>
            
            <md-list-item class="row">
                <div class="col-50 title">
                    Vitórias :
                </div>
                <div class="col-50">
                   {{player.data[0][0]}}
                </div>
            </md-list-item>
            <md-divider></md-divider>


            <md-list-item class="row">
                <div class="col-50 title">
                    Gols :
                </div>
                <div class="col-50">
                   {{player.data[0][1]}}
                </div>
            </md-list-item>
            <md-divider></md-divider>
            
             <md-list-item class="row">
                <div class="col-50 title">
                    Assistências :
                </div>
                <div class="col-50">
                   {{player.data[0][2]}}
                </div>
            </md-list-item>
            <md-divider></md-divider>
            
            <md-list-item class="row">
                <div class="col-50 title">
                    Defesa :
                </div>
                <div class="col-50">
                   {{player.data[0][3]}}
                </div>
            </md-list-item>
            <md-divider></md-divider>
            
            <md-list-item class="row">
                <div class="col-50 title">
                    FairPlay :
                </div>
                <div class="col-50">
                   {{player.data[0][4]}}
                </div>
            </md-list-item>
            <md-divider></md-divider>
            
              <md-list-item class="row">
                <div class="col-50 title">
                    Presença :
                </div>
                <div class="col-50">
                   {{player.data[0][5]}}
                </div>
            </md-list-item>
            <md-divider></md-divider>
            
            <md-list-item class="row">
                <div class="col-50 title">
                    Vídeos :
                </div>
                <div class="col-50">
                    <a href="{{player.videos_links[0]}}">{{player.videos_nomes[0]}}</a>
                    <a href="{{player.videos_links[1]}}">{{player.videos_nomes[1]}}</a>
                    <a href="{{player.videos_links[2]}}">{{player.videos_nomes[2]}}</a>
                    <a href="{{player.videos_links[3]}}">{{player.videos_nomes[3]}}</a>
                </div>
            </md-list-item>
        </md-list>
   <!-- <h3>Lances:</h3>
    <iframe width="100%" height="100%"
      src="https://www.youtube.com/embed/sWhXgm4AETc" frameborder="0" allowfullscreen></iframe>
    </div>-->
</ion-content>
</ion-view>
