<ion-view view-title="">
  <ion-content>
   <h3>Destaques</h3>   
    <iframe width="100%" height="240" src="https://www.youtube.com/embed/yzXyyvr5hAk" frameborder="0" allowfullscreen></iframe>
    <h3>Equipes</h3>
    </div>
     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="team in teams" 
        type="item-text-wrap" href="#/tab/dash/{{team.id}}">
        <img ng-src="{{team.foto}}">
        <h2>{{team.nome}}</h2>
        <p>{{team.horario}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(player)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
