<ion-view view-title="{{team.nome}}">
   
  <ion-content class="padding" style="text-align: center;">
    <img src={{team.foto}} style="width:100%; height:100%;"></img>
        <md-list>
            
          <md-list-item class="row">
                <div class="col-50 title">
                    Fundação : 
                </div>
                <div class="col-50">
                   {{team.fundacao}}
                </div>
            </md-list-item>
            <md-divider></md-divider>
            
             <md-list-item class="row">
                <div class="col-50 title">
                    Campo : 
                </div>
                <div class="col-50">
                   <a href={{team.site}} target="_blank">
                   {{team.campo}}</a>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            
             <md-list-item class="row">
                <div class="col-50 title">
                    Horário : 
                </div>
                <div class="col-50">
                    {{team.horario}}
                </div>
            </md-list-item>
            <md-divider></md-divider>
            
            <md-list-item class="row">
                <div class="col-50 title">
                    Jogadores :
                </div>
                <div class="col-50">
                   {{team.jogadores}}
                </div>
            </md-list-item>
            <md-divider></md-divider>
            
             <md-list-item class="row">
                <div class="col-50 title">
                    Partidas Gravadas :
                </div>
                <div class="col-50">
                   {{team.partidas}}
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    <iframe id="myIframe" width="100%" height="200" frameborder="0" allowfullscreen></iframe>
  </ion-content>
</ion-view>
