<ion-view view-title="{{team.nome}}">
   
  <ion-content class="padding" style="text-align: center;">
        <div style="    display: table;
            position: relative; width: 100%; padding: 0;
            background: url({{team.foto}}) no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover; background-size: cover;
            -o-background-size: cover;">
         <div style="text-align:center;">
			<a href="https://www.facebook.com/295544220637495/photos/a.448080082050574.1073741828.295544220637495/448079712050611/"></a>
			<br><br><br><br><br><br><br></a>
            <!--<h2 style="color:white; font-size:44px;">{{team.nome}}</h2>-->
            <br>
        </div>
    </div>
        <md-list>
            
          <md-list-item class="row">
                <div class="col-50 title">
                    Fundação : 
                </div>
                <div class="col-50">
                   {{team.fundacao}}
                </div>
            </md-list-item>
            <md-divider></md-divider>
            
             <md-list-item class="row">
                <div class="col-50 title">
                    Campo : 
                </div>
                <div class="col-50">
                   <a href="http://andrecruz.com.br/paradisolocalizacao.html"></a>
                   Chuteira de Ouro</a>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            
             <md-list-item class="row">
                <div class="col-50 title">
                    Horário : 
                </div>
                <div class="col-50">
                    {{team.horario}}
                </div>
            </md-list-item>
            <md-divider></md-divider>
            
            <md-list-item class="row">
                <div class="col-50 title">
                    Jogadores :
                </div>
                <div class="col-50">
                   {{team.jogadores}}
                </div>
            </md-list-item>
            <md-divider></md-divider>
            
             <md-list-item class="row">
                <div class="col-50 title">
                    Partidas Gravadas :
                </div>
                <div class="col-50">
                   {{team.partidas}}
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    <iframe width="100%" height="200" src="https://www.youtube.com/embed/_wrGhc2CAYQ?list=PLXOWQP5Jx-Mh1dLQ5ksrPUFdP04YsNLTL" frameborder="0" allowfullscreen></iframe>
  </ion-content>
</ion-view>
